osgp-ws-loadmanagement/src/main/resources/LoadManagementAdHocManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:ahman="http://www.alliander.com/schemas/osgp/loadmanagement/adhocmanagement/2014/10"
  xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.alliander.com/definitions/osgp/loadmanagement/adhocmanagement-v1.0"
  targetNamespace="http://www.alliander.com/definitions/osgp/loadmanagement/adhocmanagement-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.alliander.com/definitions/osgp/loadmanagement/adhocmanagement/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:import
        namespace="http://www.alliander.com/schemas/osgp/loadmanagement/adhocmanagement/2014/10"
        schemaLocation="schemas/lm-adhocmanagement.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="FindAllDevicesHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="FindAllDevicesRequest">
    <wsdl:part element="ahman:FindAllDevicesRequest" name="FindAllDevicesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindAllDevicesResponse">
    <wsdl:part element="ahman:FindAllDevicesResponse" name="FindAllDevicesResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetSwitchHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetSwitchRequest">
    <wsdl:part element="ahman:SetSwitchRequest" name="SetSwitchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSwitchAsyncResponse">
    <wsdl:part element="ahman:SetSwitchAsyncResponse" name="SetSwitchAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetSwitchAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetSwitchAsyncRequest">
    <wsdl:part element="ahman:SetSwitchAsyncRequest" name="SetSwitchAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSwitchResponse">
    <wsdl:part element="ahman:SetSwitchResponse" name="SetSwitchResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetStatusHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetStatusRequest">
    <wsdl:part element="ahman:GetStatusRequest" name="GetStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStatusAsyncResponse">
    <wsdl:part element="ahman:GetStatusAsyncResponse" name="GetStatusAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetStatusAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetStatusAsyncRequest">
    <wsdl:part element="ahman:GetStatusAsyncRequest" name="GetStatusAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStatusResponse">
    <wsdl:part element="ahman:GetStatusResponse" name="GetStatusResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ResumeScheduleHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="ResumeScheduleRequest">
    <wsdl:part element="ahman:ResumeScheduleRequest" name="ResumeScheduleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResumeScheduleAsyncResponse">
    <wsdl:part element="ahman:ResumeScheduleAsyncResponse"
      name="ResumeScheduleAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ResumeScheduleAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="ResumeScheduleAsyncRequest">
    <wsdl:part element="ahman:ResumeScheduleAsyncRequest"
      name="ResumeScheduleAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResumeScheduleResponse">
    <wsdl:part element="ahman:ResumeScheduleResponse" name="ResumeScheduleResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="LoadManagementAdHocManagementPort">
    <wsdl:operation name="FindAllDevices">
      <wsdl:input message="tns:FindAllDevicesRequest" name="FindAllDevicesRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindAllDevicesResponse"
        name="FindAllDevicesResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetSwitch">
      <wsdl:input message="tns:SetSwitchRequest" name="SetSwitchRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetSwitchAsyncResponse" name="SetSwitchAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetSwitchResponse">
      <wsdl:input message="tns:SetSwitchAsyncRequest" name="SetSwitchAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetSwitchResponse" name="SetSwitchResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusRequest" name="GetStatusRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetStatusAsyncResponse"
        name="GetStatusAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetStatusResponse">
      <wsdl:input message="tns:GetStatusAsyncRequest" name="GetStatusAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetStatusResponse" name="GetStatusResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ResumeSchedule">
      <wsdl:input message="tns:ResumeScheduleRequest" name="ResumeScheduleRequest">
      </wsdl:input>
      <wsdl:output message="tns:ResumeScheduleAsyncResponse"
        name="ResumeScheduleAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResumeScheduleResponse">
      <wsdl:input message="tns:ResumeScheduleAsyncRequest"
        name="ResumeScheduleAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:ResumeScheduleResponse"
        name="ResumeScheduleResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="LoadManagementAdHocManagementPortSoap11"
    type="tns:LoadManagementAdHocManagementPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="FindAllDevices">
      <soap:operation soapAction="" />
      <wsdl:input name="FindAllDevicesRequest">
        <soap:header message="tns:FindAllDevicesHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:FindAllDevicesHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:FindAllDevicesHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindAllDevicesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetSwitch">
      <soap:operation soapAction="" />
      <wsdl:input name="SetSwitchRequest">
        <soap:header message="tns:SetSwitchHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SetSwitchHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:SetSwitchHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetSwitchAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetSwitchResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="SetSwitchAsyncRequest">
        <soap:header message="tns:SetSwitchAsyncHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SetSwitchAsyncHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:SetSwitchAsyncHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetSwitchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="" />
      <wsdl:input name="GetStatusRequest">
        <soap:header message="tns:GetStatusHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:GetStatusHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:GetStatusHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStatusAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetStatusResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="GetStatusAsyncRequest">
        <soap:header message="tns:GetStatusAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:GetStatusAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:GetStatusAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ResumeSchedule">
      <soap:operation soapAction="" />
      <wsdl:input name="ResumeScheduleRequest">
        <soap:header message="tns:ResumeScheduleHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:ResumeScheduleHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:ResumeScheduleHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResumeScheduleAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResumeScheduleResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="ResumeScheduleAsyncRequest">
        <soap:header message="tns:ResumeScheduleAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:ResumeScheduleAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:ResumeScheduleAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResumeScheduleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="LoadManagementAdHocManagementPortService">
    <wsdl:port binding="tns:LoadManagementAdHocManagementPortSoap11"
      name="LoadManagementAdHocManagementPortSoap11">
      <soap:address
        location="https://localhost/osgp-adapter-ws-loadmanagement/loadmanagement/adHocManagementService/" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>